table {
    text-align: center;
}

td {
    border: solid black 1px;
    height: 150px;
    width: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}

.bloc {
    display: none;
}

div {
    width: 1730px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-decoration: underline;
}

.un {
    outline: none;
}

.deux {
    outline: none;
}

.trois {
    outline: none;
}

.quatre {
    outline: none;
}

.cinq {
    outline: none;
}

.six {
    outline: none;
}

.sept {
    outline: none;
}

.huit {
    outline: none;
}

.neuf {
    outline: none;
}

.violet {
    background-color: violet;
}

.vert-olive {
    background-color: turquoise;
}

.vert-clair {
    background-color: springgreen;
}

.bleu-ciel {
    background-color: skyblue;
}

.jaune-vif {
    background-color: yellow;
}

.jaune-orange {
    background-color: gold;
}

.orange {
    background-color: orange;
}

.rose-clair {
    background-color: #FD7272;
}

.rose {
    background-color: #eb3b5a;
}

.orange-rouge {
    background-color: #cd6133;
}

@media screen and (max-width:450Px) {
    body {
        width: 30%;
        height: 30%;
    }
    td {
        display: grid;
        height: 1500px;
        width: 1000px;
        font-size: 5em;
    }
    div {
        width: 1730px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .bloc {
        display: none;
    }
}

@media screen and (max-width:250Px) {
    body {
        width: 30%;
        height: 30%;
    }
    td {
        display: grid;
        height: 600px;
        width: 600px;
        font-size: xx-large;
    }
    div {
        width: 1730px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .bloc {
        display: none;
    }
}