body {
    margin: 0px;
    padding: 0px;
    width: 75%;
    height: 50%;
    margin: auto;
}

table {
    text-align: center;
    display: flex;
    border-spacing: 0.5rem;
}

.molecule {
    font-size: 1rem;
}

span {
    font-size: 0.5rem;
}

td {
    font-family: Georgia;
    outline: none;
    border: solid black 1px;
    width: 4rem;
    height: 5rem;
}

.bloc {
    display: none;
}

.un,
.deux,
.trois,
.quatre,
.cinq,
.six,
.sept,
.huit,
.neuf {
    outline: none;
}

.violet {
    background-color: violet;
}

.vert-olive {
    background-color: turquoise;
}

.vert-clair {
    background-color: springgreen;
}

.bleu-ciel {
    background-color: skyblue;
}

.jaune-vif {
    background-color: yellow;
}

.jaune-orange {
    background-color: gold;
}

.orange {
    background-color: orange;
}

.rose-clair {
    background-color: #FD7272;
}

.rose {
    background-color: #eb3b5a;
}

.orange-rouge {
    background-color: #cd6133;
}

@media screen and (max-width:1400px) {
    body {
        margin: 0px;
        padding: 0px;
        width: 75%;
        height: 50%;
        margin: auto;
        background-color: burlywood;
    }
    table {
        text-align: center;
        display: flex;
        border-spacing: 0.2rem;
    }
    .molecule {
        font-size: 0.8rem;
    }
    span {
        font-size: 0.3rem;
    }
    td {
        font-family: Georgia;
        outline: none;
        border: solid black 1px;
        width: 3rem;
        height: 4rem;
    }
}

@media screen and (max-width:900px) {
    body {
        margin: 0px;
        padding: 0px;
        width: 75%;
        height: 50%;
        background-color: darkgray;
    }
    table {
        text-align: center;
        display: flex;
        border-spacing: 0.2rem;
    }
    .molecule {
        font-size: 0.1rem;
    }
    span {
        font-size: 0.05rem;
    }
    td {
        font-family: Georgia;
        outline: none;
        border: solid black 1px;
        width: 0.5rem;
        height: 0.5rem;
    }
}

@media screen and (max-width:600px) {
    body {
        margin: 0px;
        padding: 0px;
        width: 75%;
        height: 50%;
        background-color: gainsboro;
    }
    table {
        text-align: center;
        display: flex;
        border-spacing: 0.2rem;
    }
    .molecule {
        font-size: 0.1rem;
    }
    span {
        font-size: 0.02rem;
    }
    td {
        font-family: Georgia;
        outline: none;
        border: solid black 1px;
        width: 0.2rem;
        height: 0.3rem;
    }
}